<section class="book">
    <container class="book__image-container">
        <img class="book__image" src="img/rainbowStories.jpg">
    </container>
    <div class="book__content">
        <p class="book__text">Text který napíše Táňa a bude mocinky cute a good a bude propagovat duhové příběhy a skleněnku. Text který napíše Táňa a bude mocinky cute a good a bude propagovat duhové příběhy a skleněnku. Text který napíše Táňa a bude mocinky cute a good a bude propagovat duhové příběhy a skleněnku. </p>
        <button class="book__cta">Stáhnout knihu</button>
    </div>
</section>