<section class="cooperation">
    <svg class="cooperation__svgLily" width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#bloom"></use> 
    </svg>
    <h3 class="heading-3">
        Způsob spolupráce
    </h3>
    <container class="cooperation__container">
        <div class="cooperation-way toBeAnimated animation-bounceUp">
            <div class="cooperation-way__content">
                <h4 class="heading-4 heading-4--bold">Rezonance</h4>
                <p class="paragraph-1">
                    Když to se mnou rezonuje, když to s tebou rezonuje, přišel okamžik, kdy se můžeme setkat.
                </p>
            </div>
            <svg viewBox="0 0 293 221" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" class="cooperation-way__drawing cooperation-way__drawing--resonance">
                <use xlink:href="#resonance"></use>
            </svg>
        </div>
        <div class="cooperation-way toBeAnimated animation-bounceUp delay delay--05">
            <div class="cooperation-way__content">
                <h4 class="heading-4 heading-4--bold">Dynamika skupiny</h4>
                <p class="paragraph-1">
                    V dynamice skupiny vidím obrovský potenciál, velkou sílu, obohacení a inspiraci pro rozvoj každého z nás. Miluji sdílení příběhů a propojování v bytostném naladění se
                    na život.                 
                </p>
            </div>
            <svg preserveAspectRatio="none" viewBox="0 0 278 233" fill="none" xmlns="http://www.w3.org/2000/svg" class="cooperation-way__drawing cooperation-way__drawing--dynamics">
                <use xlink:href="#dynamics"></use>
            </svg>
        </div>
        <div class="cooperation-way toBeAnimated animation-bounceUp delay delay--10">
            <div class="cooperation-way__content">
                <h4 class="heading-4 heading-4--bold">Instituce a organizace</h4>
                <p class="paragraph-1">
                    Přicházím do institucí, organizací
                    a rodin. Vstupuji tam jako host.
                    V průběhu setkávání se stávám jejich součástí. Loučíme se ve vzájemné proměně.
                </p>
            </div>
            <svg preserveAspectRatio="none" viewBox="0 0 219 203" fill="none" xmlns="http://www.w3.org/2000/svg" class="cooperation-way__drawing cooperation-way__drawing--institutions">
                <use xlink:href="#institutions"></use>
            </svg>
        </div>
        <div class="cooperation-way toBeAnimated animation-bounceUp delay delay--15">
            <div class="cooperation-way__content">
                <h4 class="heading-4 heading-4--bold">Individuální konzultace</h4>
                <p class="paragraph-1">
                    Konzultace jsou na objednání, probíhají na Divadelní 3 v Brně. Nepotřebujete doporučení, certifikát ani tečku. Jsou na přímou úhradu podle ceníku níže.
                </p>
            </div>
            <svg preserveAspectRatio="none" viewBox="0 0 219 203" fill="none" xmlns="http://www.w3.org/2000/svg" class="cooperation-way__drawing cooperation-way__drawing--consultations">
                <use xlink:href="#consultations"></use>
            </svg>
        </div>
        <div class="cooperation__bottom-gradient">

        </div>
    </container>
   
</section>
