<section class="course" id="course__section">
  <svg
    class="course__bloom1"
    width="59"
    height="65"
    viewBox="0 0 59 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use xlink:href="#bloom"></use>
  </svg>

  <svg
    class="course__bloom2"
    width="59"
    height="65"
    viewBox="0 0 59 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use xlink:href="#bloom"></use>
  </svg>

  <svg
    class="course__bloom3"
    width="59"
    height="65"
    viewBox="0 0 59 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use xlink:href="#bloom"></use>
  </svg>

  <p class="course__text">
    Zveme vás na kurz
    <span class="course__text__bold">3 kroky k duševní rovnováze,</span> který
    začíná 8.11.
  </p>

  <button id="course__button" class="course__button course__button__padding">
    Mám zájem o kurz
  </button>
</section>
