<section class="events">
    <container class="events__container">

        {% for event in events %}

            <div class="events__event delay toBeAnimated animation-bounceUp {{ event.event_delay }}">
                <h4 class="heading-4">{{ event.event_title }}</h4>
                <p class="events__event__description">{{ event.event_content }}</p>
                <p class="paragraph-small">{{ event.event_prettyDate }}</p>
                {% if event.event_link %}
                    <a href="{{ event.event_link }}" target="_blank" rel="noopener" class="events__event__link">Více</a>
                {% endif %}
            </div>
    
        {% endfor %}

    </container>
</section>