        <footer class="footer">
            <div class="footer__columns">
                <div class="footer__columns__column">
                    <h5 class="heading-5">Kontakt</h5>
                    <p class="paragraph-1">Ič: 079 52 320</p>
                    <p class="paragraph-1">tatjanahorka@gmail.com</p>
                    <p class="paragraph-1 paragraph-1__break">+420 777 743 704</p>
                    <p class="paragraph-1">Volejte Po - Pá mezi 18:00-19:00</p>
                </div>
                <div class="footer__columns__column">
                    <h5 class="heading-5">Cena za konzultační služby</h5>
                    <p class="paragraph-1">Individuální konzultační hodina / 2&nbsp;500&nbsp;Kč</p>
                    <p class="paragraph-1">Párová konzultační hodina / 3&nbsp;700&nbsp;Kč</p>
                    <p class="paragraph-1 paragraph-1__break">Skupinová práce hodina / 5&nbsp;000&nbsp;Kč</p>
                    <p class="paragraph-1">Cestovní náhrady jsou stanoveny podle počtu kilometrů</p>
                </div>
                <div class="footer__columns__column footer__columns__help">
                    <h5 class="heading-5 footer__columns__help__head">S tvorbou webu pomohl</h5>
                    <!-- <img src="img/group.jpg" alt="Amnion Web" class="footer__columns__help__photo"> -->
                    <p class="footer__columns__help__text">AmnioN Web</p>
                </div>
            </div>   
        </footer>