<header class="header">
  <!-- SVG -->
  <svg
    class="header__svg header__svg--top"
    fill="green"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    viewBox="0 0 1920 259"
  >
    <use xlink:href="#headerTop"></use>
  </svg>

  <svg
    class="header__svg header__svg--bottom"
    preserveAspectRatio="none"
    viewBox="0 0 1920 417"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use xlink:href="#headerBottom"></use>
  </svg>
  
  <svg
    class="header__svg header__svg--flower"
    width="77"
    height="85"
    viewBox="0 0 77 85"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use xlink:href="#bloom"></use>
  </svg>
  <!-- /SVG -->

  <img class="header__bg" src="img/group.jpg" alt="">
  <div class="header__text">
    <h2 class="heading-2">Taťjana Horká</h2>
    <h1 class="heading-1">Vzájemně v pohybu</h1>
  </div>

</header>
