<section class="organizations">
    <div class="organizations__bg">
        <svg class="svg">
            <clipPath id="organizations-clip-path" clipPathUnits="objectBoundingBox"><path d="M0,0.08 L0.226,0.012 C0.226,0.012,0.356,0.045,0.478,0.012 C0.601,-0.021,0.618,0.027,0.737,0.012 C0.856,-0.003,1,0.012,1,0.012 V1 H0.457 H0 V0.669 V0.08"></path></clipPath>
        </svg>
    </div>
    <svg
    class="organizations__svg organizations__svg--elipse"
    viewBox="0 0 496 457"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    >
        <use xlink:href="#elipse"></use>
    </svg>
    <svg class="organizations__svgLeaf" width="71" height="73" viewBox="0 0 71 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#leaf"></use>
      </svg>
    <h3 class="heading-3">Spolupracuji s neziskovými organizacemi</h3>
    <container class="organizations__container">
        <div class="organizations__organization toBeAnimated animation-bounceUp">
            <a class="organizations__waterlily" href="https://www.branabrnenska.cz/">
                <svg preserveAspectRatio="none" viewBox="0 0 71 73" class="organizations__svg organizations__svg--leaf">
                    <use xlink:href="#leaf"></use>
                </svg>
                <svg preserveAspectRatio="none" viewBox="0 0 71 73" class="organizations__svg organizations__svg--leaf">
                    <use xlink:href="#leaf"></use>
                </svg>
                <svg preserveAspectRatio="none" viewBox="0 0 59 65" class="organizations__svg organizations__svg--bloom">
                    <use xlink:href="#bloom"></use>
                </svg>
            </a>
            <h4 class="heading-4"><a href="https://www.branabrnenska.cz/">MAS BRÁNA BRNĚNSKA</a></h4>
        </div>
        <div class="organizations__organization delay toBeAnimated animation-bounceUp delay--05">
            <a class="organizations__waterlily" href="http://duhovasklenenka.cz/">
                <svg preserveAspectRatio="none" viewBox="0 0 71 73" class="organizations__svg organizations__svg--leaf">
                    <use xlink:href="#leaf"></use>
                </svg>
                <svg preserveAspectRatio="none" viewBox="0 0 71 73" class="organizations__svg organizations__svg--leaf">
                    <use xlink:href="#leaf"></use>
                </svg>
                <svg preserveAspectRatio="none" viewBox="0 0 59 65" class="organizations__svg organizations__svg--bloom">
                    <use xlink:href="#bloom"></use>
                </svg>
            </a>
            <h4 class="heading-4"><a href="http://duhovasklenenka.cz/">Skleněnka z.s.</a></h4>
        </div>
        <div class="organizations__organization delay toBeAnimated animation-bounceUp delay--10">
            <a class="organizations__waterlily" href="http://svobodnaskola.cz/">
                <svg preserveAspectRatio="none" viewBox="0 0 71 73" class="organizations__svg organizations__svg--leaf">
                    <use xlink:href="#leaf"></use>
                </svg>
                <svg preserveAspectRatio="none" viewBox="0 0 71 73" class="organizations__svg organizations__svg--leaf">
                    <use xlink:href="#leaf"></use>
                </svg>
                <svg preserveAspectRatio="none" viewBox="0 0 59 65" class="organizations__svg organizations__svg--bloom">
                    <use xlink:href="#bloom"></use>
                </svg>
            </a>
            <h4 class="heading-4"><a href="http://svobodnaskola.cz/">Škola CoLibri</a></h4>   
        </div>
    </container>
</section>