<section class="passedEvents">
    <img src="img/flower.jpg" alt="Květiny" class="passedEvents__backgroundImage">
    <div class="passedEvents__content">
        <svg class="passedEvents__content__background" width="919" height="868" viewBox="0 0 919 868" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#passedEventsBackground" />
        </svg>
        <svg class="passedEvents__content__flowerBase" width="232" height="499" viewBox="0 0 232 499" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#flowerBase" />
        </svg>
        <div class="passedEvents__content__text-content">
            <h3 class="heading-3">Kde jsme se sešli naposled</h3>
            <ul class="passedEvents__content__list">
                <li class="passedEvents__content__item"><span>></span> Konzultační a vzdělávací servis pro skleněnku, z.s. ve Veselí nad Moravou</li>
                <li class="passedEvents__content__item"><span>></span> Konzultační a vzdělávací servis pro skleněnku, z.s. ve Veselí nad Moravou</li>
                <li class="passedEvents__content__item"><span>></span> Konzultační a vzdělávací servis pro skleněnku, z.s. ve Veselí nad Moravou</li>
                <li class="passedEvents__content__item"><span>></span> Konzultační a vzdělávací servis pro skleněnku, z.s. ve Veselí nad Moravou</li>
                <li class="passedEvents__content__item"><span>></span> Konzultační a vzdělávací servis pro skleněnku, z.s. ve Veselí nad Moravou</li>
            </ul>
        </div>
    </div>
    <form class="passedEvents__form" action="/subscribe" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <label for="email">Každou akci posílám na mail</label>
        <input class="passedEvents__form__email" type="email" name="email" id="email" placeholder="vas@email.cz">
        <input class="passedEvents__form__submit hidden" type="submit" name="submit" value="Přidat se">
    </form>
</section>