<section class="profile">
  <container class="profile__photo-container toBeAnimated animation-rollInFromLeft">
    <img
      src="img/profile_1200.jpg"
      alt="Táňa"
      class="profile__photo toBeAnimated"
      srcset="
        img/profile_400.jpg 400w,
        img/profile_600.jpg 600w,
        img/profile_1200.jpg 1200w,
        img/profile_big.jpg 1365w
      "
      sizes="
        (max-width: 1600px) 500px, 
        (max-width: 1200px) 400px, 
        (max-width: 1000px) 300px, 
        (max-width: 800px) 350px, 
        (max-width: 500px) 80vw,
        (max-width: 450px) 100vw
      "
    >
  </container>
  <div class="profile__text">
    <p class="paragraph-1">
      Jmenuji se MUDr. Taťjana Horká, desítky let se zabývám konzultační
      činnosti v oblasti mezilidských vztahů. V roce 2020 jsem se rozhodla
      ukončit svoji třicetiletou lékařskou praxi. Pracovala jsem v oborech
      dětského a dorostového lékařství, dětské a dorostové psychiatrie, věnovala
      jsem se individuální, párové a rodinné psychoterapii. Aktuálně se chci
      setkávat s lidmi prostřednictvím rozhovoru, bez diagnostiky, bez
      předepisování léků.
    </p>
    <p class="paragraph-1">
      Nabízím společný čas, svůj (ne)klid a zkušenosti. Konzultační činnost
      provozuji ve formě workshopů, seminářů, interaktivních besed a přednášek.
      Orientuji se na skupinovou práci (optimální počet ve skupině je 5-15
      lidí).
    </p>
  </div>
</section>
