<section class="profile">
  <!-- <svg
    class="profile__svg profile__svg--timber"
    viewBox="0 0 1468 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use xlink:href="#timber"></use>
  </svg> -->
  <container class="profile__photo-container toBeAnimated animation-rollInFromLeft">
    <img src="img/profile.jpg" alt="" class="profile__photo toBeAnimated"></img>
  </container>
  <div class="profile__text">
    <p class="paragraph-1">
      Jmenuji se MUDr. Taťjana Horká, desítky let se zabývám konzultační
      činnosti v oblasti mezilidských vztahů. V roce 2020 jsem se rozhodla
      ukončit svoji třicetiletou lékařskou praxi. Pracovala jsem v oborech
      dětského a dorostového lékařství, dětské a dorostové psychiatrie, věnovala
      jsem se individuální, párové a rodinné psychoterapii. Aktuálně se chci
      setkávat s lidmi prostřednictvím rozhovoru, bez diagnostiky, bez
      předepisování léků.
    </p>
    <p class="paragraph-1">
      Nabízím společný čas, svůj (ne)klid a zkušenosti. Konzultační činnost
      provozuji ve formě workshopů, seminářů, interaktivních besed a přednášek.
      Orientuji se na skupinovou práci (optimální počet ve skupině je 5-15
      lidí).
    </p>
  </div>
</section>
