<section class="topics">
    <svg class="topics__svgTop" width="591" height="592" viewBox="0 0 591 592" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#decorationShape"></use> 
    </svg>
    <div class="topics__img__container toBeAnimated animation-rollInFromRight">
        <img src="img/leafs.jpg" alt="rose" class="topics__img__regular">
    </div>
    <div class="topics__text">
        <div class="topics__text__head">
            <svg class="topics__text__head__svg" width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#bloom"></use> 
            </svg>
            <h3 class="heading-3">Témata konzultací</h3>
        </div>
        <div class="topics__text__consultation paragraph-1">Konzultace se nejčastěji týkají mezilidských vztahů, komunikace, osobnostního rozvoje, zvyšování kvality života, hledaní zdrojů při zvládání stresu, zlepšování zdravotní a psychické kondice, řešení konfliktních situací a zvladaní emocí. Dále se objevují témata, jak přistupovat k dětem a doprovázet je při emočních konfrontacích, partnerská problematika, posílení vlastních kompetencí při komunikaci v týmu, s nadřízeným, při prezentaci ve firmach.</div>
        <div class="topics__text__reflect paragraph-1">- Osobní rozvoj</div>
        <div class="topics__text__reflect paragraph-1">- Tělesné a duševní zdraví</div>
        <div class="topics__text__reflect paragraph-1">- Komunikace</div>
        <div class="topics__text__reflect paragraph-1">- Mezilidské vztahy</div>        
    </div>
    <svg class="topics__svgBottom" width="591" height="592" viewBox="0 0 591 592" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#decorationShape"></use> 
    </svg>
    <div class="topics__img__container toBeAnimated animation-rollInFromRight">
        <img src="img/leafs.jpg" alt="rose" class="topics__img__mobile">
    </div>
</section>