RewriteEngine On

# RewriteCond ${REQUEST_FILENAME} !-f
# RewriteCond ${REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} !public/
# RewriteRule (.*) public/index.php?$1 [L]

RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2
RewriteCond %{DOCUMENT_ROOT}%1public/%2 -f
RewriteRule ^(.*)$  public/$1 [END]

RewriteCond ${REQUEST_FILENAME} !-f
RewriteCond ${REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !public/
RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]

RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) public/$1 [L,QSA]

SetEnv HTTP_ACCESS_CODE "123456789"