{% include 'admin/includes/head.html' %}
</head>
<body>

    {% set navigationVars = { 'activeLink': 'events' } %}
    {% include 'admin/includes/navigation.html' with navigationVars %}
    
    <div class="wrapper">
        
        {% set dynamicTitle = event.event_title ?: 'Vytvořit' %}
        {% set headerVars = { 'logout': true, 'adminTitle': 'Akce: ' ~ dynamicTitle } %}
        {% include 'admin/includes/header.html' with headerVars %}

        <main class="main main--index">

            {{ event.event_id }}
            {{ event.event_id }}
            {{ event.event_id }}
            {{ event.event_id }}
            {{ event.event_id }}
            {{ event.event_id }}
            {{ event.event_id }}
            {{ event.event_id }}
            {{ event.event_id }}
            
        </main>

    </div>
    
{% include 'admin/includes/end.html' %}