{% include 'admin/includes/head.html' %}
</head>
<body>

    {% set navigationVars = { 'activeLink': 'events' } %}
    {% include 'admin/includes/navigation.html' with navigationVars %}
    
    <div class="wrapper">
        
        {% set headerVars = { 'logout': true, 'adminTitle': 'Akce' } %}
        {% include 'admin/includes/header.html' with headerVars %}

        <main class="main main--events">

            <div class="item-list__options">
                <!-- <input type="text" placeholder="Hledat"> -->
                <a class="add-button" href="/admin/events/new">Nová akce</a>
            </div>

            <table class="item-list">
                <tbody class="item-list__content">
                    <tr class="item-list__heading">
                        <th>Název</th>
                        <th>Datum</th>
                        <th>Obrázek</th>
                        <th>Odkaz</th>
                        <th>Akce</th>
                    </tr>

                    {% for event in events %}

                        <tr class="item-list__row" id="<%= product._id %>">
                            <td>{{ event.event_title }}</td>
                            <td>{{ event.event_prettyDate }}</td>
                            <td><a href="/img/{{ event.event_imageUrl }}">Odkaz</a></td>
                            <td>{{ event.event_link }}</td>
                            <td>
                                <a class="item-list__row__btn" href="/admin/events/{{ event.event_id }}">Upravit</a>
                                <form class="item-list__delete-form" action="/admin/events/delete/{{ event.event_id }}" method="POST">
                                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                    <input type="submit" class="item-list__row__btn item-list__row__btn--danger deleteProductBtn" value="Smazat">
                                </form>
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
            
        </main>

    </div>
    
{% include 'admin/includes/end.html' %}