{% include 'admin/includes/head.html' %}
</head>
<body>

    {% set navigationVars = { 'activeLink': 'events' } %}
    {% include 'admin/includes/navigation.html' with navigationVars %}
    
    <div class="wrapper">
        
        {% set dynamicTitle = event.event_title ?: 'Vytvořit' %}
        {% set headerVars = { 'logout': true, 'adminTitle': 'Akce: ' ~ dynamicTitle } %}
        {% include 'admin/includes/header.html' with headerVars %}

        <main class="main main--event-detail">

            <form class="event-form" id="event-form" enctype="multipart/form-data" method="POST" action="/admin/events/{{ event.event_id }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="event-form__row">
                    <div class="event-form__data-cell">
                        <label for="title">Název akce</label>
                        <input required type="text" name="title" id="title" placeholder="Název akce" value="{{ event.event_title }}">
                    </div>
                    <div class="event-form__data-cell">
                        <label for="dateFrom">Od:</label>
                        <input required type="date" name="dateFrom" id="dateFrom" value="{{ event.event_dateFrom }}">
                    </div>
                    <div class="event-form__data-cell">
                        <label for="dateTo">Do:</label>
                        <input required type="date" name="dateTo" id="dateTo" value="{{ event.event_dateTo }}">
                    </div>
                </div>
                <div class="event-form__row">
                    <div class="event-form__data-cell">
                        <label for="link">Odkaz</label>
                        <input type="text" name="link" id="link" placeholder="Odkaz" value="{{ event.event_link }}" />
                    </div>
                    <div class="event-form__data-cell">
                        <label for="image">Popisek</label>
                        <textarea required name="content" id="content" cols="30" rows="10">{{ event.event_content }}</textarea>
                    </div>
                </div>
                <div class="event-form__actions">
                    <input class="event-form__btn event-form__btn--submit" id="submit" name="submit" type="submit" value="Odeslat">
                    <a href="/admin/events" class="event-form__btn event-form__btn--cancel">Zrušit</a>
                </div>
            </form>
            
        </main>

    </div>
    
{% include 'admin/includes/end.html' %}