{% include 'admin/includes/head.html' %}
</head>
<body>

    {% set navigationVars = { 'activeLink': 'home' } %}
    {% include 'admin/includes/navigation.html' with navigationVars %}
    
    <div class="wrapper">
        
        {% set headerVars = { 'logout': true, 'adminTitle': 'Administrace' } %}
        {% include 'admin/includes/header.html' with headerVars %}

        <main class="main main--index">

            <div class="visiting-card">
                <h3 class="heading-3">AmnioM Web</h3>
                <p class="paragraph-normal">team@amniomweb.cz</p>
                <p class="paragraph-normal">+420 735 044 114</p>
                <a target="_blank" rel="noopener" href="https://amniomweb.cz"><p class="paragraph-normal">www.amniomweb.cz</p></a>
            </div>
            
        </main>

    </div>
    
{% include 'admin/includes/end.html' %}