{% include 'admin/includes/head.html' %}
</head>
<body>
    
    <div class="wrapper wrapper--login">
        
        {% set headerVars = {'logout': false, 'adminTitle': 'Administrace'} %}
        {% include 'admin/includes/header.html' with headerVars %}

        <main class="main main--login">

            <form class="login-form" action="/admin/login" method="POST">
                <input class="login-form__input" type="password" name="password" placeholder="Přístupový kód">
                <input class="login-form__input login-form__input--hidden" type="text" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" class="login-form__submit" value="Login">
            </form>
            
        </main>

        {% include 'admin/includes/footer.html' %}

    </div>
    
{% include 'admin/includes/end.html' %}