//////////////////////////////////
///// COLORS

// GREEN

$color-green-footer: rgba(159, 191, 115, 1);

//////////////////////////////////
///// FONT SIZES

$font-smallest: 1.6rem;
$font-small: 1.8rem;
$font-regular: 2rem;
$font-big: 2.5rem;
$font-bigger: 2.9rem;
$font-large: 3.3rem;
$font-larger: 5rem;
$font-largest: 5.9rem;