
//////////////////////////////////
///// COLORS

/////
// COLORFUL COLORS
/////

// GREEN

$color-green-footer: rgba(159, 191, 115, 1);
$color-green-light: #F0F5E9;
$color-green: #9CBD6F;

/////
// SHADES
/////

$color-black: #000000;
$color-black-overlay: rgba($color-black, .5);
$color-black-overlay-light: rgba($color-black, .2);
$color-black-overlay-light-2: rgba($color-black, .1);
$color-black-background: rgba($color-black, 0.45);
$color-white: #ffffff;

//////////////////////////////////
///// FONT SIZES

$font-smallest: 1.6rem;
$font-small: 1.8rem;
$font-regular: 2rem;
$font-big: 2.5rem;
$font-bigger: 2.9rem;
$font-large: 3.3rem;
$font-larger: 5rem;
$font-largest: 5.9rem;

///////////////
///// FONTS

$font-cursive: 'Dancing Script', cursive;
$font-kalam: 'Kalam', cursive;

///////////////
///// BREAKPOINTS

$bp-organizations-mobile: 800px;
$bp-cooperation-mobile: 800px;
$bp-profile-mobile: 800px;
$bp-header-mobile: 800px;
$bp-reviews-mobile: 800px;


///////////////
///// ANIMATIONS
$animation-review-appear: reviewAppear 1s forwards;
$animation-review-disappear: reviewDisappear 1s forwards;
$animation-leaf-fall: leafFall 3s linear forwards;

