///////////////////////
///// COLORS

// Colors
$color-orange: #CF7838;
$color-red: #AE0000;
$color-green: lightgreen;

// Shades
$color-black: black;
$color-black-overlay: rgba($color-black, .5);
$color-grey: #CECECE;
$color-grey-light: #EAEAEA;
$color-white: white;
$color-white-overlay: rgba($color-white, .5);


///////////////////////
///// SIZES

// Font sizes
$font-small: 1.6rem;
$font-regular: 1.8rem;
$font-big: 2.2rem;
$font-largest: 5rem;