.cooperation-way {
  height: 45rem;
  width: 22%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1300px) {
    width: 50rem;
    height: 30rem;

    flex-direction: row;
    align-items: flex-start;
  }
  @media screen and (max-width: 1200px) {
    width: 48rem;
  }
  @media screen and (max-width: 1100px) {
    width: 40rem;
    height: 40rem;
    margin-bottom: 5rem;

    flex-direction: column;
    align-items: center;

    &.delay {
      animation-delay: 0s;
      transition-delay: 0s;
    }
  }
  @media screen and (max-width: 900px) {
    height: auto;
    margin-bottom: 10rem;
  }
  @media screen and (max-width: 500px) {
      width: 80%;
  }

  & .heading-4 {
    margin-bottom: 1rem;

    @media screen and (max-width: $bp-cooperation-mobile) {
      text-align: center;
    }
    @media screen and (max-width: 500px) {
        text-align: left;
    }
  }
  &__text {
    font-size: 1.6rem;

    @media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 25rem; 
    }
  }
  &__content {
    @media screen and (max-width: 1300px) {
      padding-right: 5rem;
      width: 60%;
    }
    @media screen and (max-width: 1200px) {
      padding-right: 3rem;
    }
    @media screen and (max-width: 1100px) {
      width: 100%;
      padding-right: 0;
    }
  }
  &__drawing {
    width: 20rem;
    height: 20rem;
    margin-top: auto;
    transition: all .5s;

    &--resonance {
      transform: scaleY(1.15);

      &:hover {
        transform: scaleY(1.15) rotate(4deg);
      }
    }
    &--dynamics {
      transform: scaleY(1.4) translateY(10%);

      &:hover {
        transform: scaleY(1.4) translateY(10%) rotate(-4deg);
      }
    }
    &--institutions {
      transform: scaleY(.75);

      &:hover {
        transform: scaleY(.75) rotate(4deg);
      }
    }
    &--consultations {
      &:hover {
        transform: rotate(-4deg);
      }
    }

    @media screen and (max-width: 1300px) {
      margin-top: 0;
      width: 40%;
    }
    @media screen and (max-width: 1200px) {
      width: 30%;
    }
    @media screen and (max-width: 1100px) {
      width: 18rem;
      height: 18rem;
      margin-top: auto;
    }
    @media screen and (max-width: $bp-cooperation-mobile) {
      margin-top: 2rem;
    }
  }
}
