.cooperation {
    width: 100%;
    padding: 25rem 20rem;

    position: relative;

    @media screen and (max-width: 1500px) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media screen and (max-width: $bp-cooperation-mobile) {
        padding-bottom: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__svgLily {
        width: 40rem;
        height: 40rem;

        opacity: 0.15;

        position: absolute;

        top: 5%;
        right: 0;
        z-index: -1;

        @media only screen and (max-width: 1400px) {
            width: 35rem;
            height: 35rem;
        }
        @media only screen and (max-width: 1100px) {
            width: 25rem;
            height: 25rem;
        }
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }

    & .heading-3 {
        margin-left: 8rem;
        margin-bottom: 10rem;

        position: relative;

        @media screen and (max-width: $bp-cooperation-mobile) {
            width: max-content;

            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: 400px) {
            width: min-content;

            text-align: center;
        }

        &::before {
            content: "";
            width: 5rem;
            height: 5rem;
            background-image: url(../img/bloom.svg);
            background-position: 50% 50%;

            display: block;

            position: absolute;
            left: -8rem;

            @media screen and (max-width: $bp-cooperation-mobile) {
               left: 50%;
               top: -6rem;
               transform: translateX(-50%);
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1300px) {
            flex-wrap: wrap;
        }
    }
    &__bottom-gradient {
        height: 10rem;
        width: 100%;
        background-image: linear-gradient(180deg, rgba(159, 191, 115, 0) 0%, rgba(159, 191, 115, 0.1) 100%);

        position: absolute;
        bottom: 0;
        left: 0;
    }
}