//VARIABLES
$bp-cooperation-mobile: 800px;
//
.cooperation {
    width: 100%;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 15rem;

    position: relative;

    @media screen and (max-width: 1500px) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media screen and (max-width: $bp-cooperation-mobile) {
        padding-bottom: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    & .heading-3 {
        margin-left: 11rem;
        margin-bottom: 10rem;

        position: relative;

        @media screen and (max-width: $bp-cooperation-mobile) {
            width: max-content;

            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: 400px) {
            width: min-content;

            text-align: center;
        }

        &::before {
            content: "";
            width: 5rem;
            height: 5rem;
            background-image: url(../img/bloom.svg);
            background-position: 50% 50%;

            display: block;

            position: absolute;
            left: -8rem;

            @media screen and (max-width: $bp-cooperation-mobile) {
               left: 50%;
               top: -6rem;
               transform: translateX(-50%);
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 1300px) {
            flex-wrap: wrap;
        }
    }
    &__bottom-gradient {
        height: 10rem;
        width: 100%;
        background-image: linear-gradient(180deg, rgba(159, 191, 115, 0) 0%, rgba(159, 191, 115, 0.1) 100%);

        position: absolute;
        bottom: 0;
    }
}