.events {
    width: 100vw;
    height: 100rem;
    padding-top: 12rem;
    background-image: url('../img/eventsBackground.svg');
    background-size: cover;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;

    @media only screen and (max-width: 1000px) {
        align-content: center;
        flex-wrap: wrap;
    }

    &__event {
        width: 35rem;
        height: 25rem;
        filter: drop-shadow(0 2px 4px $color-black-overlay-light);
        transform: translateY(-25%);

        position: relative;

        flex-shrink: 0;

        @media only screen and (max-width: 1600px) {
            width: 32rem;
        }

        & svg {
            width: 100%;
            height: 150%;
            fill: $color-white;
        }

        &__image {
            width: 75%;
            border-radius: 5px;
            transform: translate(-50%, -50%);

            position: absolute;
            top: 6rem;
            left: 52%;
        }
        & .heading-4 {
            position: absolute;
            top: 16rem;
            left: 5rem;
        }
        & .paragraph-small {
            position: absolute;
            top: 26rem;
            left: 5rem;
        }
    }
}