.footer {
    width: 100vw;
    height: 40rem;
    padding: 10rem;
    background-color: $color-green-footer;
    color: white;

    &__columns {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__contact {

        }

        &__price {
        
        }
        
        &__help {

            &__photo {
                width: 40rem;
                height: 22rem;
                background-color: red;
            }
        }
    }
}