.footer {
    width: 100vw;
    height: 60rem;
    padding: 10rem;
    background-color: $color-green-footer;
    color: white;

    position: relative;

    &__stain {
        position: absolute;
        right: 0;

        transform: translateY(-25rem);
    }
    &__root{
        position: absolute;
        right: 0;
        
        transform: translateY(-25rem) rotate(180deg);
    }
    &__columns {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__contact {

        }

        &__price {
        
        }
        
        &__help {

            &__photo {
                width: 40rem;
                height: 22rem;
            }
            &__text {
                transform: translate(28rem, -3rem);
                font-size: $font-big;
            }
        }
    }
}