.passedEvents {
    width: 100vw;
    height: 80rem;
    margin-top: 10rem;

    position: relative;
    z-index: 3;
    
    @media only screen and (max-width: 900px) {
        height: auto;
    }
    
    &__image-container {
        width: 110%;
        height: 100%;
        background-color: transparent;

        display: block;

        overflow: hidden;
        position: relative;
        left: -35%;
    }
    &__image {
        width: 100%;
        height: 100%;
        transform: scaleX(-1);
        object-fit: cover;
        background-color: transparent;

        position: absolute; 

        animation: linear flowerZoom 30s infinite;

        @media only screen and (max-width: 900px) {
            display: none;
        }
    }
    &__content {
        height: 105%;
        width: auto;
        transform: translateY(-50%);

        position: absolute;
        top: 50%;
        right: -2rem; // Who knows why there is a white space
        z-index: 2;

        @media only screen and (max-width: 1100px) {
            height: 100%;
            right: -4rem;
        }
        @media only screen and (max-width: 900px) {
            width: 100%;
            height: auto;
            background-color: $color-green;
            transform: none;

            position: static;
        }

        &__background {
            height: 100%;

            @media only screen and (max-width: 900px) {
                display: none;
            }
        }
        &__flowerBase {
            position: absolute;
            bottom: -4px; // Because of 4px blured gradient
            left: -6rem;

            @media only screen and (max-width: 1100px) {
                display: none;
            }
        }

        &__text-content {
            width: 69rem;
            height: 100%;
            padding: 12rem 12rem 0 0;
    
            position: absolute;
            right: 0;
            top: 0;

            @media only screen and (max-width: 900px) {
                width: 100%;
                padding: 12rem 6rem;

                position: static;
            }
            @media only screen and (max-width: 380px) {
                width: 100%;
                padding: 12rem 4rem;

                position: static;
            }

            & .heading-3 {
                margin-bottom: 12rem;

                color: $color-white;
                text-align: right;

                position: relative;
    
                &::after {
                    content: "";
                    width: 20rem;
                    height: 4px;
                    border-radius: 1rem;
                    background-color: $color-white;
    
                    display: block;
    
                    position: absolute;
                    right: 0;
                    bottom: -.5rem;
                }

                @media only screen and (max-width: 900px) {
                    margin-bottom: 6rem;

                    text-align: left;

                    &::after {
                        right: unset;
                        left: 0;
                    }
                }
            }
        }
        &__list {
            list-style-type: none;

        }
        &__item {
            color: $color-white;
            font-weight: 300;
            font-size: 2rem;
            line-height: 135%;

            &:not(:last-child) {
                margin-bottom: 4rem;
            }

            & span {
                font-weight: 600;
            }
        }
    }
    &__form {
        transform: translate(-50%, -50%);

        position: absolute;
        top: -3rem;
        left: 50%;
        z-index: 2; 

        display: flex;
        flex-direction: column;
        align-items: center;

        & label {
            margin-bottom: 1rem;
        }
        &__email {
            width: 50rem;
            height: 6rem;
            padding: 1rem;
            border: none;
            outline: none;
            border-radius: 3rem;
            box-shadow: 0 2px 4px 1px $color-black-overlay-light-2;

            text-align: center;

            @media only screen and (max-width: 650px) {
                width: 40rem;
                height: 5rem;
            }
            @media only screen and (max-width: 500px) {
                width: 28rem;
                height: 5rem;
            }
        }
        &__submit {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            transform: translate(-50%, -50%);
            opacity: 0; // Restored by JS

            color: $color-white;
            font-size: $font-regular;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;
            text-shadow: 0 2px 3px $color-black-overlay-light-2;

            position: absolute;
            bottom: -6rem;
            left: 50%;
            z-index: 2;

            transition: all .3s;

            &.hidden {
                display: none;
            }
        }
    }
}