.profile {
    margin-bottom: -4rem;
    background-image: linear-gradient(180deg, rgba(#9FBF73, 0.1) 0%, rgba(#81A84C, 0.1) 100%);

    display: flex;
    justify-content: flex-end;

    position: relative;

    @media screen and (max-width: $bp-profile-mobile) {
        flex-direction: column;
    }

    &__svg {
        position: absolute;

        &--timber {
            width: 70%;

            right: 0;
            top: 0;
            transform: translateY(-1.5rem);

            @media screen and (max-width: 1100px) {
                width: 75%;
            }
            @media screen and (max-width: $bp-profile-mobile) {
                display: none;
            }
        }
        &--root {
            width: 40%;
            height: 15rem;

            left: 0;
            top: 65rem;
            transform: translateY(-50%);
            position: absolute;
            z-index: 2;

            @media screen and (max-width: $bp-profile-mobile) {
                display: none;
            }
        }
    }
    &__photo {
        width: 35rem;
        height: 50rem;

        position: absolute;
        right: 70%;
        top: 15rem;
        transform: translateX(50%);

        @media screen and (max-width: 1200px) {
           width: 30rem;
           height: 45rem;

           top: 20rem;
        }
        @media screen and (max-width: 1100px) {
            right: 75%;
        }
        @media screen and (max-width: $bp-profile-mobile) {
            width: 40rem;
            height: 60rem;
            margin-left: auto;
            margin-right: auto;

            position: relative;
            right: unset;
            top: unset;
            transform: none;
            bottom: -4rem;
         }
         @media screen and (max-width: 450px) {
            bottom: 0;
            width: 100%;
            height: auto;
        }
    }
    &__text {
        height: 65rem;
        padding-top: 15rem;
        width: 70%;
        background-color: $color-white;

        font-size: 1.7rem;

        @media screen and (max-width: 1100px) {
            width: 75%;
        }
        @media screen and (max-width: $bp-profile-mobile) {
          width: 100%;
          padding-top: 10rem;
          padding-bottom: 10rem;
          height: auto;
        }
    }
    &__p {
        width: 50rem;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 1400px) {
            margin-left: 25rem;
        }
        @media screen and (max-width: 1200px) {
            margin-left: 20rem;
        }
        @media screen and (max-width: 1000px) {
           width: 44rem;
        }
        @media screen and (max-width: 900px) {
            width: 38rem;
         }
         @media screen and (max-width: $bp-profile-mobile) {
           width: 40rem;
           margin-left: auto;
        }
        @media screen and (max-width: 450px) {
           width: 30rem;
        }
        @media screen and (max-width: 350px) {
            width: 25rem;
         }

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
}