.profile {
    background-image: linear-gradient(180deg, rgba(#9FBF73, 0.1) 0%, rgba(#81A84C, 0.1) 100%);
    padding-bottom : 10rem;

    display: flex;
    justify-content: flex-end;

    position: relative;

    @media screen and (max-width: $bp-profile-mobile) {
        flex-direction: column;
    }

    &__svgTop {
        width: 40rem;
        height: 30rem;

        position: absolute;

        transform: rotate(-30deg);
        top: -15%;
        right: -5%;

        @media only screen and (max-width: 1600px) {
            right: -6%;
        }
        @media only screen and (max-width: 1400px) {
            right: -7%;
        }
        @media only screen and (max-width: 1150px) {
            right: -8%;
        }
        @media only screen and (max-width: 1000px) {
            width: 35rem;
            height: 25rem;
        }
        @media only screen and (max-width: 950px) {
            right: -9%;
        }
        @media only screen and (max-width: 850px) {
            right: -10%;
        }
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }
    &__svgLily {
        width: 35rem;
        height: 35rem;

        opacity: 0.15;

        position: absolute;

        top: 40%;
        right: 10%;

        @media only screen and (max-width: 1400px) {
            width: 30rem;
            height: 30rem;
        }
        @media only screen and (max-width: 1100px) {
            width: 20rem;
            height: 20rem;

            top: 45%;
        }
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }
    &__photo-container {
        width: 50rem;
        height: 60rem;
        
        position: absolute;
        left: 15rem;
        bottom: 10%;
        z-index: 3;

        @media screen and (max-width: 1600px) {
            left: 10rem;
        }
        @media screen and (max-width: 1200px) {
            width: 40rem;

            left: 0;
        }
        @media screen and (max-width: 1000px) {
            width: 30rem;
            height: 60rem;
        }
        @media screen and (max-width: $bp-profile-mobile) {
            width: 35rem;
            height: auto;
            padding-bottom: 0;
            margin-left: auto;
            margin-right: auto;

            position: relative;
            right: unset;
            top: unset;
            transform: none;
            bottom: -4rem;
         }
        @media only screen and (max-width: 500px) {
            width: 80%; 
            padding: 0;
            padding-bottom: 0;
        }
        @media screen and (max-width: 450px) {
            width: 100%;
        }
        @media only screen and (max-width: 400px) {
           margin-bottom: 5rem;
        }   
    }
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;

        display: block;
    }
    &__text {
        width: calc(100% - 65rem);
        min-height: 65rem;
        padding: 15rem 20rem;
        background-color: $color-white;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 1600px) {
            width: calc(100% - 60rem);
            padding: 15rem;
        }
        @media screen and (max-width: 1600px) {
            width: calc(100% - 60rem);
            padding: 10rem 15rem;
        }
        @media screen and (max-width: 1200px) {
            width: calc(100% - 40rem);
            height: 60rem;
            padding: 10rem;
        }
        @media screen and (max-width: 1000px) {
            width: calc(100% - 30rem);
            height: auto;
            padding: 7.5rem;
        }
        @media screen and (max-width: $bp-profile-mobile) {
          width: 100%;
          padding: 10rem 7.5rem;
          height: auto;
        }
        @media only screen and (max-width: 500px) {
            padding: 7.5rem 5rem;
        }
        @media only screen and (max-width: 400px) {
            padding: 5rem 3rem;
        }
    }
    & .paragraph-1 {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
}