.reviews {
    padding-top: 10rem;
    padding-bottom: 20rem;
    height: 65rem;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: $bp-reviews-mobile) {
        height: 70rem;
        padding-bottom: 10rem;
    }
}