.way {
    width: 100vw;
    padding: 10rem;

    position: relative;

    &__stain {
        position: absolute;

        transform: translate(15rem,6rem);
    }

    &__header {
        margin-bottom: 5rem;

        display: flex;
        flex-direction: row;
        align-items: center;

        &__svg {
            margin-right: 2rem;
        }
    }
}