<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taťjana Horká | Vzájemně v pohybu</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="js/index.js" defer></script>
</head>
<body>
    <!-- DEFINING SVGs -->
    {{ include('includes/svg.html') }}

    <!-- HEADER -->
    {{ include('includes/header.html') }}
    
    <!-- EVENTS -->
    {{ include('includes/events.html') }}
    
    <!-- PASSED EVENTS -->
    {{ include('includes/passedEvents.html') }}
    
    <!-- COOPERATION -->
    {{ include('includes/cooperation.html') }}
    
    <!-- PROFILE -->
    {{ include('includes/profile.html') }}
    
    <!-- ORGANIZATIONS -->
    {{ include('includes/organizations.html') }}
    
    <!-- TOPICS -->
    {{ include('includes/topics.html') }}
    
    <!-- WAY -->
    {{ include('includes/way.html') }}
    
    <!-- REVIEWS -->
    {{ include('includes/reviews.html') }}
    
    <!-- FOOTER -->
    {{ include('includes/footer.html') }}

</body>
</html>